{% extends 'base.html.twig' %}

{% block title %}Sessions pour la formation{% endblock %}

{% block body %}
<button type="button">Add Session</button>

<table>
    <thead>
        <tr>
            <th>Nom de la session</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Capacité</th>
            <th>Stagiaires inscrits</th>
            <th>Taux de remplissage</th>
            <th>Programme</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.formation.name }}</td>
                <td>{{ session.startDate|date("m/d/Y") }}</td>
                <td>{{ session.endDate|date("m/d/Y") }}</td>
                <td>{{ session.capacity }}</td>
                <td>{{ session.interns|length }}</td>
                <td>{{ session.tauxRemplissage }}%</td>
                <td>
                    <a href="{{ path('detail_session', {id: session.id })}}">
                        <img src="{{ asset('img/Program.png')}}" alt="logo de programme" class="program_logo">
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
