{% extends 'base.html.twig' %}

{% block title %}Formations disponibles{% endblock %}

{% block body %}
<div class="tableau_formation">
    <h1>Prochaines formations disponibles</h1>
    <table class="table table-striped table-bordered">
        <thead class="table-secondary">
            <tr>
                <th>Nom de la session</th>
                <th>Prochaine session</th>
                <th>Capacité</th>
                <th>Stagiaires inscrits</th>
                <th>Taux de remplissage</th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
                <tr>
                    <td>
                        <a href="{{path('listById_formation', {id:formation.id})}}">{{ formation.name }}</a>
                    </td>
                    {% set nextSession = formation.getNextSession %}
                    {% if nextSession %}
                        <td>{{ nextSession.startDate|date("m/d/Y") }}</td>
                        <td>{{ nextSession.capacity }}</td>
                        <td>{{ nextSession.interns|length }}</td>
                        <td>{{ nextSession.tauxRemplissage }}%</td>
                    {% else %}
                        <td colspan="5">Pas de session à venir</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
