{% extends 'base.html.twig' %}

{% block title %}Intern Details{% endblock %}

{% block body %}
    <div class="card">
        <div class="intern_header">
            <img src="{{ asset('img/face-detection.png')}}" alt="logo profile intern">
            <h4>{{ intern.firstName }} {{ intern.lastName }}</h4>
        </div>
        <div class="intern_body">
            <p>Sex : {{ intern.sex }}</p>
            <p>Age : {{ intern.age }}</p>
            <p>City : {{ intern.city }}</p>
            <p>Mail : {{ intern.email }}</p>
            <p>Phone : {{ intern.phone }}</p>
        </div>
        <div class="intern_footer">
            <div class="future_session">
                <h3>Session à venir</h3>
                {% if futureSessions is not empty %}
                    <ul>
                        {% for session in futureSessions %}
                            <li>{{ session.formation.name }} (du {{ session.startDate|date("d/m/Y") }} au {{ session.endDate|date("m/d/Y") }})</li>
                        {% endfor %}
                    </ul>
                {% else %}
                <ul>
                    <li>Aucune session n'est prévue pour ce stagiaire</li>
                </ul>
                {% endif %}
            </div>
            <div class="past_session">
                <h3>Session passées</h3>
                {% if pastSessions is not empty %}
                    <ul>
                        {% for session in pastSessions %}
                            <li>{{ session.formation.name }} (du {{ session.startDate|date("d/m/Y") }} au {{ session.endDate|date("m/d/Y") }})</li>
                        {% endfor %}
                    </ul>
                {% else %}
                <ul>
                    <li>Aucune session passée pour ce stagiaire</li>
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="intern_img">
            <div class="edit">
                <a href=" {{ path('edit_intern', {intern:intern.id}) }}">
                    <img src="{{ asset('img/write.png') }}" alt="logo de crayon" class="edit_logo">
                </a>
            </div>
            <div class="delete">
                <a href="{{ path('delete_intern', {id:intern.id} )}}">
                    <img src="{{ asset('img/trash.png') }}" alt="logo de corbeille" class="delete_logo">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
