{% extends 'base.html.twig' %}

{% block title %}Hello InternController!{% endblock %}

{% block body %}
<div class="interns">
    <h1>Stagiaires</h1>
    <a href="{{ path('new_intern') }}">
        <button type="button" class="btn btn-outline-primary">Add Intern</button>
    </a>
    
    {% for intern in interns %}
    <div class="intern">
        <div class="intern_logo">
            <img src="{{ asset('img/face-detection.png')}}" alt="logo profil intern" class="user_logo">
        </div>
        <div class="intern_name">
            <a href="{{ path('detail_intern', { id: intern.id }) }}">
                {{ intern.firstName}} {{intern.lastName}}
            </a>
        </div>
        <div class="intern_email">
            {{ intern.email}}
        </div>
        <div class="intern_trash">
            <a href="{{ path('delete_intern', {id:intern.id}) }}">
                <img src="{{ asset('img/trash.png')}}" alt="logo corbeille" class="delete_logo">
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
