{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    <div class="session_card">
        <div class="session_card_header">
            <h1>{{ session.formation.name }}</h1>
            <h2>Prochaine session :</h2>
            <p>Du {{ session.startDate|date("m/d/Y") }} au {{ session.endDate|date("m/d/Y") }}</p>
            <h2>Capacité : {{ session.getTauxRemplissage() }}%</h2>
        </div>
        <div class="session_card_module">
            <div class="module_title">
                <img src="{{ asset('img/3d.png')}}" alt="logo module" class="module_logo">
                <h3>Modules</h3>
            </div>
            <div class="module_list">
                <ul>
                    {% for sessionModule in session.sessionModules %}
                        <li> {{ sessionModule.module.name }} {{sessionModule.duration }}jours</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="session_card_intern">
            <div class="intern_title">
                <img src="{{ asset('img/user.png')}}" alt="logo user" class="user_logo">
                <h3>Interns : {{ session.interns|length }}/{{ session.capacity }} inscrits</h3> 
                <button type="button">Add Intern</button>
            </div>
            <div class="intern_list">
                <ul>
                    {% for intern in session.interns %}
                        <li> {{ intern.firstName }} {{intern.lastName }}</li>
                    {% endfor %}
                </ul>
                <div class="session_card_img">
                    <a href="">
                        <img src="{{ asset('img/write.png')}}" alt="logo crayon" class="edit_logo">
                    </a>
                    <a href="">
                        <img src="{{ asset('img/trash.png')}}" alt="logo corbeille" class="delete_logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
